ul {
  list-style-type:none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: teal;
}

ol {
  text-align: center;
  list-style-position: inside;
  font-size: x-large;
}

li {
  float:initial;
}

li a{
  display: block;
  color: black;
  text-align: center;
  padding:  10px;
}

li a:hover {
  background-color: white;
}

.header {
  text-align: center;
  vertical-align: top;
  font-size: .506in;
}

p {
  text-align: center;
  font-size: 30px;
  margin: 5rem 20rem;
  padding: 1rem;
  border: 1px black solid;
}

body{
  background-color: white;
}

.blue-header{
  background-color: teal;

}

.sdbr-button{
  background-color: teal;
  border: none;
  color: white;
  padding: 1%;
  text-align: center;
  display: inline-block;
  font-size: medium;
  cursor: pointer;
}

.sdbr-button:hover{
  background-color: white;
  color: black;
}

.sdbr-animate{
  position:relative;
  animation:animateleft 0.4s
}

.sidebar{
  height:100%;
  width:200px;
  background-color:teal;
  position:fixed!important;
  z-index:1;
  overflow:auto
}

@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}

.text-box{
  margin: 7rem 20rem;
  padding: 1rem;
}

.link{
  font-size: x-large;
}

.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 33.333333%;
}

.tablinkOne {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 100%;
}

.tablink:hover {
  background-color: #777;
}


.tablinkOne:hover {
  background-color: #777;
}


.tabcontent {
  color: black;
  display: none;
  padding: 50px;
  text-align: center;
}

.center-left {
  position: absolute;
  top: 85%;
  left: 50%;
  -ms-transform: translate(-165%, -30%);
  transform: translate(-165%, -30%);
}

.center-right {
  position: absolute;
  top: 85%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-30%, -30%);
}
